{% extends 'base.html' %}
{% block body %}
{%load static%}
<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
         id="sidenav-main">
  
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
         aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{% url 'index:acceuil' %}"
         target="_blank">
        <img src="{% static 'img/logo-ct.png' %}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Ma cantine</span>
      </a>
    </div>
  
  
    <hr class="horizontal light mt-0 mb-2">
  
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
  
  
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'menu:menulist' %}">
  
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <span class="material-symbols-outlined">menu_book</span>
            </div>
  
            <span class="nav-link-text ms-1">Menus</span>
          </a>
        </li>
  
  
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'plat:platlist'  %}">
  
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <span class="material-symbols-outlined">local_cafe</span>
            </div>
  
            <span class="nav-link-text ms-1">Plats</span>
          </a>
        </li>
  
      </ul>
    </div>
  
  </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
  
  
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <ul class="navbar-nav  justify-content-start">
              <li class="nav-item d-flex align-items-center">
                <a class="btn btn-outline-warning btn-sm mb-0 me-3" href="{% url 'plat:ajouterplat' %}">Ajouter un plat</a>
              </li>
            </ul>
            <form method="GET" style="display:flex; ">
             
              <div class="input-group input-group-outline">
                <label class="form-label">Recherche par nom</label>
                <input type="text" class="form-control" name="search" value="{{ search_field }}">
              </div>
           
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <button class="btn btn-outline-primary btn-sm mb-0 me-3" type="submit">Recherche</button>
              </li>
            </ul>
          </form>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-warning shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Liste des plats (1)</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Libelle</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 align-items-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for plat in plats%}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{plat.name}}</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <button class="badge badge-sm bg-gradient-success"><a href="{% url 'plat:modifierplat' plat.id %}"> Modifier</a></button>
                          <button class="badge badge-sm bg-gradient-danger"><button class="badge badge-sm bg-gradient-success"><a href="{% url 'menu:supprimermenu' plat.id %}"> Supprimer</a></button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer py-4  ">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                  © <script>
                    document.write(new Date().getFullYear())
                  </script>
                  ADA
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <!--   Core JS Files   -->
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'js/material-dashboard.min.js' %}"></script>
  </body>
{% endblock %}
